<h1>All of you are stuck here!</h1>
<ul>
  <% @employees.each do |employee| %>
    <li><%= link_to employee.full_name, employee %></li>
  <% end %>
</ul>
<%= button_to 'Create', {action: 'new'}, method: :get %>
