<h1>Index page for the Doges</h1>
<% @dogs.each do |dog| %>
<%= link_to dog.name, dog_path(dog) %><br>
<%= button_to('Edit', dog_path(dog),method: "edit") %>
<%= button_to('Destroy', dog_path(dog),method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
<% end %>
